[Unit]
Description=allure service
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=root
Group=root
Restart=on-failure
RestartSec=5s
ExecStart=/usr/bin/allure open {{ allure_reports_dir }}/allure-report --port 9000

[Install]
WantedBy=multi-user.target